<section>
  <div class="container">
    <h2 style="font-weight:bold;padding-top:50px;text-align: center;font-family: 'Raleway', sans-serif;">HACKATHON PARTICIPATION FORM</h2>
    <div class="form-area">
      <form [formGroup]="hackathonForm" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-lg-4 col-sm-12">
          <label>Full Name</label>
          <input type="text" formControlName="fullName">
        </div>

        <div class="col-lg-4 col-sm-12">
          <label>Email</label>
          <input type=text formControlName="email">
        </div>

        <div class="col-lg-4 col-sm-12">
          <label>Phone No.</label>
          <input type=number formControlName="phone">
        </div>

        <div class="col-lg-4 col-sm-12">
          <label>College Name</label>
          <input type=text formControlName="collegeName">
        </div>

        <div class="col-lg-4 col-sm-12">
          <label>Major</label>
          <input type=text formControlName="major">
        </div>

        <div class="col-lg-4 col-sm-12">
          <label>Project Domain</label>
          <input type=text formControlName="projectDomain">
        </div>

        <div class="col-lg-4 col-sm-12">
          <label>Project Idea</label>
          <input type=text formControlName="projectIdea">
        </div>

        <div class="parentBlock">
          <div class="block2">
            <button class="btn btn-success" [disabled]="!hackathonForm.valid">Submit</button>
          </div>
        </div>
    </div>
      </form>
    </div>
  </div>
</section>
<!--<section class="mt-4">
  <div class="container">
  <div class="parentBlock">
    <div class="block2">
      <button *ngIf="displayTableButton==1" (click)="showTable()" class="btn btn-success">Show Table</button>
    </div>
  </div>
  </div>
</section>-->
<section class="mt-6">
  <div class="container mt-6 pb-6">
    <table>
      <tr>
        <th *ngFor="let title of headers">
          {{title}}
        </th>
      </tr>

      <tr *ngFor="let dataset of dataList">
        <td>
          {{dataset.fullName}}
        </td>
        <td>
          {{dataset.email}}
        </td>
        <td>
          {{dataset.phone}}
        </td>
        <td>
          {{dataset.collegeName}}
        </td>
        <td>
          {{dataset.major}}
        </td>
        <td>
          {{dataset.projectDomain}}
        </td>
        <td>
          {{dataset.projectIdea}}
        </td>
        <td (click)="updateUser(dataset)">
          <p (click)="open(content)" class="material-symbols-outlined">
             edit
          </p>
        </td>
        <td>
          <p (click)="deleteUser(dataset._id)" class="material-symbols-outlined">
            delete
          </p>
        </td>
      </tr>
    </table>
  </div>
</section>
<section>
  <ng-template #content let-modal>
   <div>
     <div class="form-area">
       <form [formGroup]="hackathonFormUpdate" (ngSubmit)="onUpdate()">

         <div class="col-lg-12 col-sm-12">
           <label>Full Name</label>
           <input type="text" formControlName="fullName">
         </div>

         <div class="col-lg-12 col-sm-12">
           <label>Email</label>
           <input type=text formControlName="email">
         </div>

         <div class="col-lg-12 col-sm-12">
           <label>Phone No.</label>
           <input type=number formControlName="phone">
         </div>

         <div class="col-lg-12 col-sm-12">
           <label>College Name</label>
           <input type=text formControlName="collegeName">
         </div>

         <div class="col-lg-12 col-sm-12">
           <label>Major</label>
           <input type=text formControlName="major">
         </div>

         <div class="col-lg-12 col-sm-12">
           <label>Project Domain</label>
           <input type=text formControlName="projectDomain">
         </div>

         <div class="col-lg-12 col-sm-12">
           <label>Project Idea</label>
           <input type=text formControlName="projectIdea">
         </div>

         <div class="parentBlock">
           <div class="block3">
             <button class="btn btn-success" [disabled]="!hackathonFormUpdate.valid">Submit</button>
           </div>
         </div>
       </form>
     </div>
   </div>
  </ng-template>
</section>
